section#content(ng-controller='AccountPasswordCtrl')
    header
        h1#section-header Account Password
      .row
        .span2
          div(ng-include='\'/partials/account/nav.html\'')
        section#section-content
          .span7
            .alert.alert-block.alert-error(ng-hide='user.password.isSet')
              | You have not created a password yet. Create a password now
              | to ensures that you don't loss access to your account.
            form.form-horizontal(name='form', novalidate='novalidate')
              fieldset
                .control-group
                  label.control-label(for='email')
                    strong Email
                  .controls
                    input#email(required='required', ng-model='user.email', type='email', name='email')
                    span.help-inline(ng-show='form.email.$valid')
                      i.icon-ok
                    p.help-block Setting a password requires a valid email address.
                .control-group(ng-show='user.password.isSet')
                  label.control-label(for='current')
                    strong Current Password
                  .controls
                    input#current(ng-model='user.password.current', type='password')
                    p.help-block
                      a(href='/account/recovery') Forgot your password?
                .control-group
                  label.control-label(for='new')
                    strong New Password
                  .controls
                    input#new(required='required', pattern='.{4,31}', ng-model='user.password.new', type='password')
                .form-actions
                  input.btn.btn-success(type='submit', ng-click='updateUser(user)', ng-disabled='form.$invalid || waitText', value='{{waitText || \'Submit\'}}')
