
<div ng-controller="RegistrationController">
  <div class="row-fluid">
    <h3>Registering in {{product.name}}</h3>
    <form name="registrationForm" class="form-horizontal">
      <div ng-class="{error: registrationForm.name.$invalid}" class="control-group">
        <label>Full name</label>
        <input type="text" name="name" ng-model="registration.name" required="required"/><span ng-show="registrationForm.name.$error.required" class="help-inline">Required</span>
      </div>
    </form>
  </div>
</div>