
<div ng-controller="RegistrationController">
  <div class="span6 offset2">
    <h3>Cadastro em {{product.name}}</h3>
    <form name="registrationForm" class="form-horizontal">
      <p>Por favor, selecione o escritório mais próximo de você.</p>
      <div class="control-group">
        <div class="controls">
          <select ui-select2="{width: 'resolve'}" ng-model="registration.office">
            <option ng-repeat="office in allOffices | orderBy: 'name'" value="{{office.nick}}">{{office.name}}</option>
          </select>
        </div>
      </div>
      <div ng-class="{error: registrationForm.name.$invalid}" class="control-group">
        <label for="name" class="control-label">Nome completo</label>
        <div class="controls">
          <input type="text" name="name" ng-model="registration.name" required="required" placeholder="Nome Sobrenome"/><span ng-show="registrationForm.name.$error.required" class="help-inline">Obrigatório</span>
        </div>
      </div>
      <div ng-class="{error: registrationForm.email.$invalid}" class="control-group">
        <label for="email" class="control-label">Email</label>
        <div class="controls">
          <input type="text" name="email" ng-model="registration.email" required="required" placeholder="usuario@gmail.com"/><span ng-show="registrationForm.email.$error.required" class="help-inline">Obrigatório</span>
        </div>
      </div>
      <div ng-class="{error: registrationForm.phone.$invalid}" class="control-group">
        <label for="phone" class="control-label">Telefone</label>
        <div class="controls">
          <input type="text" name="phone" ng-model="registration.phone" required="required" placeholder="(0xx) XXXX-XXXX"/><span ng-show="registrationForm.phone.$error.required" class="help-inline">Obrigatório</span>
        </div>
      </div>
      <div ng-class="{error: registrationForm.city.$invalid}" class="control-group">
        <label for="city" class="control-label">Cidade</label>
        <div class="controls">
          <input type="text" name="city" ng-model="registration.city" required="required" placeholder="Cidade"/><span ng-show="registrationForm.city.$error.required" class="help-inline">Obrigatório</span>
        </div>
      </div>
      <div class="control-group">
        <label for="state" class="control-label">Estado</label>
        <div class="controls">
          <select ui-select2="{width: 'resolve'}" name="state" ng-model="registration.state">
            <optgroup label="Norte">
              <option value="ac">Acre</option>
              <option value="am">Amazonas</option>
              <option value="ap">Amapá</option>
              <option value="pa">Pará</option>
              <option value="ro">Rondônia</option>
              <option value="rr">Roraima</option>
              <option value="to">Tocantins</option>
            </optgroup>
            <optgroup label="Nordeste">
              <option value="al">Alagoas</option>
              <option value="ba">Bahia</option>
              <option value="ce">Ceará</option>
              <option value="ma">Maranhão</option>
              <option value="pb">Paraíba</option>
              <option value="pe">Pernambuco</option>
              <option value="pi">Piauí</option>
              <option value="rn">Rio Grande do Norte</option>
              <option value="se">Sergipe</option>
            </optgroup>
            <optgroup label="Centro-Oeste">
              <option value="df">Distrito Federal</option>
              <option value="go">Goiás</option>
              <option value="mt">Mato Grosso</option>
              <option value="ms">Mato Grosso do Sul</option>
            </optgroup>
            <optgroup label="Sudeste">
              <option value="es">Espírito Santo</option>
              <option value="mg">Minas Gerais</option>
              <option value="rj">Rio de Janeiro</option>
              <option value="sp">São Paulo</option>
            </optgroup>
            <optgroup label="Sul">
              <option value="pr">Paraná</option>
              <option value="rs">Rio Grande do Sul</option>
              <option value="sc">Santa Catarina</option>
            </optgroup>
          </select>
        </div>
      </div>
      <div ng-class="{error: registrationForm.university.$invalid}" class="control-group">
        <label for="university" class="control-label">Universidade</label>
        <div class="controls">
          <input type="text" name="university" ng-model="registration.university" placeholder="Universidade"/>
        </div>
      </div>
      <div ng-class="{error: registrationForm.career.$invalid}" class="control-group">
        <label for="career" class="control-label">Curso</label>
        <div class="controls">
          <input type="text" name="career" ng-model="registration.career" placeholder=""/>
        </div>
      </div>
      <div ng-class="{error: registrationForm.yearIngress.$invalid}" class="control-group">
        <label for="yearIngress" class="control-label">Ano de ingresso</label>
        <div class="controls">
          <input type="text" name="yearIngress" ng-model="registration.yearIngress" placeholder=""/>
        </div>
      </div>
      <div ng-class="{error: registrationForm.indication.$invalid}" class="control-group">
        <label for="yearIngress" class="control-label">Como ficou sabendo da AIESEC?</label>
        <div class="controls">
          <select ui-select2="{width: 'resolve'}" ng-model="registration.indication">
            <option>Facebook</option>
            <option>Amigos</option>
            <option>Anúncios</option>
            <option>Eventos</option>
            <option>Outro</option>
          </select>
        </div>
      </div>
      <div ng-class="{error: registrationForm.indicatedBy.$invalid}" class="control-group">
        <label for="indicatedBy" class="control-label">Nome do amigo, evento ou outro:</label>
        <div class="controls">
          <input type="text" name="indicatedBy" ng-model="registration.indicatedBy" placeholder=""/>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" ng-model="registration.subscribe" checked="checked"/>Desejo receber notícias sobre a AIESEC
          </label>
          <button ng-click="register()" ng-disabled="registrationForm.$invalid" class="btn btn-primary btn-large">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>