
<div ng-controller="WelcomeController" class="container-narrow">
  <div ng-show="offices" class="jumbotron">
    <h1>Bem-vindo à AIESEC!</h1>
    <p class="lead">
       
      Aqui você pode se cadastrar para as oportunidades abertas na AIESEC.
    </p>
    <p class="lead">Para começar, selecione o escritório local mais próximo de você:</p>
    <select ui-select2="{width: 'resolve', placeholder: 'Selecione'}" data-placeholder="Selecione" ng-model="office">
      <option ng-repeat="office in offices | orderBy: 'name'" value="{{office.nick}}">{{office.name}}</option>
    </select>
    <p></p><a class="btn btn-large btn-success">Próximo passo ></a>
  </div>
</div>