
<div ng-controller="WelcomeController">
  <div ng-show="allProducts"><img src="img/loader.gif" ng-hide="allProducts"/>
    <h3 translate="translate">Select below which program you are interested:</h3>
    <div class="row-fluid">
      <ul class="nav nav-pills">
        <li ng-repeat="product in allProducts | orderBy: 'name' " class="span3">
          <!--a(href="/#/register/{{product._id.$oid}}")--><a href="/register/{{product.slug}}">
            <h2>{{product.name}}</h2>
            <h4>{{product.tagline}}</h4></a>
        </li>
      </ul>
    </div>
  </div>
</div>