ul.nav
  li(ng-class="getClass('/welcome')")
    a(ng-href='#/welcome') Home
  li(ng-class="getClass('/admin')")
    a(ng-href='#/admin/offices') Admin
  li(ng-class="is('admin')") 
    a(ng-href="#/admin") Admin
    //a.dropdown-toggle(href="#", data-toggle="dropdown") Admin
    //  b.caret
    //ul.dropdown-menu
    //  li
    //    a(ng-href="#/admin/offices") Offices
    //  li
    //    a(ng-href="#/admin/products") Products