
div(ng-controller='RegistrationController')
  .row-fluid
  	h3 Registering in {{product.name}}
        a(href="#/register/{{product.slug}}")
          h2 {{product.name}}
          h4 {{product.tagline}}