
div(ng-controller='RegistrationController')
  .span6.offset2
    h3 Cadastrando em {{product.name}}
    form.form-horizontal(name="registrationForm")
      p Primeiro, selecione o escritório mais próximo de você.
      .control-group
        .controls
          select(ui-select2="{width: 'resolve'}", ng-model="registration.office")
            option(ng-repeat="office in allOffices", value="{{office._id.$oid}}") {{office.name}}
      .control-group(ng-class="{error: registrationForm.name.$invalid}")
        label.control-label(for="name") Nome completo
        .controls
          input(type="text", name="name", ng-model="registration.name", 
          	required, placeholder="Nome Sobrenome")
          span.help-inline(ng-show="registrationForm.name.$error.required") Obrigatório
      .control-group(ng-class="{error: registrationForm.email.$invalid}")
        label.control-label(for="email") Email
        .controls
          input(type="text", name="email", ng-model="registration.email", 
          	required, placeholder="usuario@gmail.com")
          span.help-inline(ng-show="registrationForm.email.$error.required") Obrigatório
      .control-group(ng-class="{error: registrationForm.phone.$invalid}")
        label.control-label(for="phone") Telefone
        .controls
          input(type="text", name="phone", ng-model="registration.phone", 
          	required, placeholder="(0xx) XXXX-XXXX")
          span.help-inline(ng-show="registrationForm.phone.$error.required") Obrigatório
      .control-group(ng-class="{error: registrationForm.city.$invalid}")
        label.control-label(for="city") Cidade
        .controls
          input(type="text", name="city", ng-model="registration.phone", 
          	required, placeholder="Cidade")
          span.help-inline(ng-show="registrationForm.city.$error.required") Obrigatório
