
div(ng-controller='RegistrationController')
  .span4.offset4
    h3 Registering in {{product.name}}
    form.form-horizontal(name="registrationForm")
      .control-group(ng-class="{error: registrationForm.name.$invalid}")
        label.control-label(for="name") Full name
        .controls
          input(type="text", name="name", ng-model="registration.name", required)
          span.help-inline(ng-show="registrationForm.name.$error.required") Required