
div(ng-controller='RegistrationController')
  .span6.offset2
    h3 Registering in {{product.name}}
    form.form-horizontal(name="registrationForm")
      .control-group(ng-class="{error: registrationForm.name.$invalid}")
        label.control-label(for="name") Full name
        .controls
          input(type="text", name="name", ng-model="registration.name", required)
          span.help-inline(ng-show="registrationForm.name.$error.required") Required
      .control-group(ng-class="{error: registrationForm.email.$invalid}")
        label.control-label(for="email") Email
        .controls
          input(type="text", name="email", ng-model="registration.email", required)
          span.help-inline(ng-show="registrationForm.email.$error.required") Required
      .control-group(ng-class="{error: registrationForm.name.$invalid}")
        label.control-label(for="name") Full name
        .controls
          input(type="text", name="name", ng-model="registration.name", required)
          span.help-inline(ng-show="registrationForm.name.$error.required") Required
      