
div(ng-controller='WelcomeController')

  h3 Select below which program you are interested:
  .row-fluid
    ul.nav.nav-pills
      li.span3(ng-repeat="product in products | orderBy: 'name' ")
        a(href="#/register/{{product.slug}}")
          h2 {{product.name}}
          h4 {{product.tagline}}