
div(ng-controller='RegistrationController')
  .span6.offset2
    h3 Cadastro em {{office.name}}
    form.form-horizontal(name="registrationForm")
      .control-group(ng-class="{error: registrationForm.name.$invalid}")
        label.control-label(for="name") Nome completo
        .controls
          input(type="text", name="name", ng-model="registration.name", 
          	required, placeholder="Nome Sobrenome")
          span.help-inline(ng-show="registrationForm.name.$error.required") Obrigatório
      .control-group(ng-class="{error: registrationForm.email.$invalid}")
        label.control-label(for="email") Email
        .controls
          input(type="text", name="email", ng-model="registration.email", 
          	required, placeholder="usuario@gmail.com")
          span.help-inline(ng-show="registrationForm.email.$error.required") Obrigatório
      .control-group(ng-class="{error: registrationForm.phone.$invalid}")
        label.control-label(for="phone") Telefone
        .controls
          input(type="text", name="phone", ng-model="registration.phone", 
          	required, placeholder="(0xx) XXXX-XXXX")
          span.help-inline(ng-show="registrationForm.phone.$error.required") Obrigatório
      .control-group(ng-class="{error: registrationForm.city.$invalid}")
        label.control-label(for="city") Cidade
        .controls
          input(type="text", name="city", ng-model="registration.city", 
          	required, placeholder="Cidade")
          span.help-inline(ng-show="registrationForm.city.$error.required") Obrigatório
      .control-group
        label.control-label(for="state") Estado
        .controls
          select(ui-select2="{width: 'resolve'}", name='state', ng-model="registration.state")
            optgroup(label="Norte")
              option(value='AC') Acre
              option(value='AM') Amazonas
              option(value='AP') Amapá
              option(value='PA') Pará
              option(value='RO') Rondônia
              option(value='RR') Roraima
              option(value='to') Tocantins
            optgroup(label="Nordeste")
              option(value='AL') Alagoas
              option(value='BA') Bahia
              option(value='CE') Ceará
              option(value='MA') Maranhão
              option(value='PB') Paraíba
              option(value='PE') Pernambuco
              option(value='PI') Piauí
              option(value='RN') Rio Grande do Norte
              option(value='SE') Sergipe
            optgroup(label="Centro-Oeste")
              option(value='DF') Distrito Federal
              option(value='GO') Goiás
              option(value='MT') Mato Grosso
              option(value='MS') Mato Grosso do Sul
            optgroup(label="Sudeste")
              option(value='ES') Espírito Santo
              option(value='MG') Minas Gerais
              option(value='RJ') Rio de Janeiro
              option(value='SP') São Paulo
            optgroup(label="Sul")
              option(value='PR') Paraná
              option(value='RS') Rio Grande do Sul
              option(value='SC') Santa Catarina
      .control-group(ng-class="{error: registrationForm.university.$invalid}")
        label.control-label(for="university") Universidade
        .controls
          input(type="text", name="university", ng-model="registration.university", 
          	placeholder="Universidade")
      .control-group(ng-class="{error: registrationForm.career.$invalid}")
        label.control-label(for="career") Curso
        .controls
          input(type="text", name="career", ng-model="registration.career", 
          	placeholder="")
      .control-group(ng-class="{error: registrationForm.yearIngress.$invalid}")
        label.control-label(for="yearIngress") Ano de ingresso
        .controls
          input(type="number", name="yearIngress", ng-model="registration.yearIngress", 
          	placeholder="")
      .control-group(ng-class="{error: registrationForm.indication.$invalid}")
        label.control-label(for="yearIngress") Como ficou sabendo da AIESEC?
        .controls
          select(ui-select2="{width: 'resolve'}", ng-model="registration.indication")
            option Facebook
            option Amigos
            option Anúncios
            option Eventos
            option Outro
      .control-group(ng-class="{error: registrationForm.indicatedBy.$invalid}")
        label.control-label(for="indicatedBy") Nome do amigo, evento ou outro:
        .controls
          input(type="text", name="indicatedBy", ng-model="registration.indicatedBy", 
            placeholder="")
      .control-group
        .controls
          label.checkbox
            input(type="checkbox", ng-model="registration.subscribe", checked)
            | Desejo receber notícias sobre a AIESEC
          button.btn.btn-primary.btn-large(ng-click="register()", ng-disabled="registrationForm.$invalid") Enviar
