
div.container-narrow(ng-controller='WelcomeController')

  div.jumbotron(ng-show="offices")
    h1 Bem-vindo à AIESEC!
    p.lead 
      | Aqui você pode se cadastrar para as oportunidades abertas na AIESEC.

    p.lead Para começar, selecione o escritório local mais próximo de você:
    select(ui-select2="{width: 'resolve', placeholder: 'Selecione'}", data-placeholder="Selecione", ng-model="office")
        option(ng-repeat="office in offices | orderBy: 'name'", 
          value="{{office.nick}}") {{office.name}}
    p
      small Se você não encontrar sua cidade, <a>clique aqui.</a>
    p
    p
    a.btn.btn-large.btn-success 
      | Próximo passo 
      i.icon-chevron-right