

div
  .row-fluid
    .span3
      div(ng-include="'/partials/admin/nav.html'")
    .span6
      div(ng-controller='OfficesEditController')
        .row-fluid
          h2(ng-show="office._id") Edit office
          h2.ng-cloak(ng-hide="office._id") Create office
          div(ng-show="loading")
            img(src="img/loader.gif")
            span {{loading}}
          .form(name="officeForm", ng-hide="loading")
            .control-group(ng-class="{error: officeForm.name.$invalid}")
              label Name
              input(type="text", name="name", ng-model="office.name", required)
              span.help-inline(ng-show="officeForm.name.$error.required") Required
            .control-group(ng-class="{error: officeForm.nick.$invalid}")
              label Nickname
              input(type="text", name="nick", ng-model="office.nick", required)
              span.help-inline(ng-show="officeForm.nick.$error.required") Required
            a.btn(href="#/admin/offices") Cancel
            button.btn.btn-primary(ng-click="save()", ng-disabled="isClean() || officeForm.$invalid") Save
            button.btn.btn-danger(ng-click="destroy()") Delete