

div
  .row-fluid
    .span3
      div(ng-include="'/partials/admin/nav.html'")
    .span6
      div(ng-controller='OfficesController')
        .row-fluid
          h2 Offices
          form.form-inline(name="officeForm")
            input.input-medium(type="text", placeholder="São Carlos")
            .input-prepend
              span.add-on @
              input.input-mini(type="text", placeholder="SC",
                tooltip="Two letter name of the office", rel="tooltip")
            button.btn.btn-primary(type="submit") Add office
          span
          table.table.table-striped.table
            thead
              tr
                th 
                  input.search-query(type="text", ng-model="search", class="offices-query", placeholder="Search")
                th
            tbody
              tr(ng-repeat="office in offices | filter: search | orderBy: 'name' ")
                td
                  div(ng-hide="editing") 
                    span {{office.name}}
                    br
                    small @{{office.nick}}
                  .form-inline
                    input(ng-show="editing", type="text", name="name", ng-model="office.name")
                    .input-prepend(ng-show="editing")
                      span.add-on @
                      input.input-small(type="text", name="nick", ng-model="office.nick",
                        tooltip="Two letter name of the office", rel="tooltip")
                td
                  span(ng-hide="editing")
                    a.btn(ng-disabled="saving", ng-click="$scope.original = angular.copy(office); editing = true")
                      i.icon-edit
                      span Edit
                  span(ng-show="editing")
                    button.btn.btn-primary(ng-click="save(office)")
                      span Save
                    button.btn(ng-click="office = original; editing = false")
                      span Cancel
          img(src="img/loader.gif", ng-show="loading")