

div
  .row-fluid
    .span3
      div(ng-include="'/partials/admin/nav.html'")
    .span6
      div(ng-controller='ProductsEditController')
        .row-fluid
          h2(ng-show="product._id") Edit product
          h2.ng-cloak(ng-hide="product._id") Create product
          div(ng-show="loading")
            img(src="img/loader.gif")
            span {{loading}}
          .form(name="officeForm", ng-hide="loading")
            .control-group(ng-class="{error: productForm.name.$invalid}")
              label Name
              input(type="text", name="name", ng-model="product.name", ng-change="name_changed()", required)
              span.help-inline(ng-show="productForm.name.$error.required") Required
            p.muted
              small Link name: {{product.slug}}
            .control-group(ng-class="{error: productForm.line.$invalid}")
              label Tagline
              input(type="text", name="line", ng-model="product.tagline", required)
              span.help-inline(ng-show="productForm.line.$error.required") Required
            a.btn(href="#/admin/products") Cancel
            button.btn.btn-primary(ng-click="save()", ng-disabled="isClean() || productForm.$invalid") Save
            button.btn.btn-danger(ng-click="destroy()") Delete