

div
  .row-fluid
    .span3
      div(ng-include="'/partials/admin/nav.html'")
    .span6
      div(ng-controller='RegistrationController')
        .row-fluid
          h2 Registrations
          span
          table.table.table-striped.table
            thead
            tr
              th Name
              th
            tbody
              tr(ng-repeat="registration in registrations | orderBy: 'name' ")
                td {{registration.name}}
                td