ul.nav.pull-right
    li(ng-hide='user.isAuthenticated()')
      a(ng-class='getClass(\'/login\')', href='/login') Login
    li(ng-show='user.isAuthenticated()')
      a(ng-class='getClass(\'/account\')', href='/account/') Account
      | |
      a(href='/account/')
        span(ng-bind='user.displayName()')
      | |
      a(href='', ng-click='logout()') logout
