section#content(ng-controller='AccountOverviewCtrl')
    header
        h1#section-header Account Overview
      .row
        .span2
          div(ng-include='\'/partials/account/nav.html\'')
        section#section-content
          .span7
            .row
              .span1
                img(src='http://placehold.it/80x80')
              .span6
                h4 {{ user.displayName() }}
                p
                  a(href='/account/profile') Edit Profile
            hr
            section
              h3 Services
              dl
                dt Delete Account
                dd
                  a(ng-click='deleteUser(user)') Close account and delete all services and info associated with it
