
<div>
  <div ng-controller="OfficesController" class="row-fluid">
    <div class="span3">
      <div ng-include="'/partials/admin/nav.html'"></div>
    </div>
    <div class="span9">
      <div class="row-fluid">
        <h2>Offices</h2>
        <!-- Edit dialog-->
        <div ui-modal="ui-modal" ng-model="editDialog" class="modal fade">
          <div class="modal-header">
            <h3 ng-show="office._id">Edit office</h3>
            <h3 ng-hide="office._id">Create office</h3>
          </div>
          <div class="modal-body">
            <div class="row-fluid">
              <form id="office-form" name="officeForm" ui-toggle="!deleting" class="form-horizontal form-inline">
                <div ng-class="{error: officeForm.name.$invalid}" class="control-group">
                  <label for="name" class="control-label">Name</label>
                  <div class="controls">
                    <input type="text" name="name" ng-model="office.name" required="required" placeholder="São Carlos" class="input"/>
                  </div>
                </div>
                <div ng-class="{error: officeForm.nick.$invalid}" class="control-group">
                  <label for="name" class="control-label">Nick</label>
                  <div class="controls">
                    <div class="input-prepend"><span class="add-on">@</span>
                      <input type="text" name="nick" placeholder="SC" ng-model="office.nick" ng-pattern="/^[A-Z]{2,4}$/" required="required" tooltip="Two to four letter name of the office" rel="tooltip" class="input-mini"/>
                    </div>
                  </div>
                </div><!--table.table-striped.table
                <thead>
                  <tr>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in office.adminUsers() | orderBy: 'name' ">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td><a class="btn btn-danger">Remove</a></td>
                  </tr>
                </tbody>-->
                <!--a.pull-right.btn.btn-warning Add admin-->
              </form>
              <!-- Delete confirmation-->
              <div ui-toggle="deleting" class="alert alert-error">
                <p>
                   <strong>Warning!</strong> Are you sure you want to delete
                   {{office.name}}?
                </p>
                <p><a ng-click="delete(); editDialog = false" class="btn btn-danger">Delete this office</a> <a ng-click="deleting = false" class="btn">Cancel</a></p>
              </div>
            </div>
          </div>
          <div ui-toggle="!deleting" class="modal-footer"><a ng-click="deleting = true" ng-show="office._id" class="pull-left btn btn-danger">Delete</a><a ng-click="editDialog = false" class="btn">Cancel</a><a ng-click="editDialog = false; save()" ng-disabled="officeForm.$invalid" class="btn btn-primary">
               
              Save</a></div>
        </div><span></span>
        <table class="table-striped table">
          <thead>
            <tr>
              <th>
                <input type="text" ng-model="search" placeholder="Search" class="search-query offices-query"/>
              </th>
              <th class="centered">Administrator</th>
              <th class="right-text middle"><a ng-click="office = {}; deleting = false; editDialog = true" class="btn btn-primary">
                   
                  Add office</a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="office in offices | filter: search | orderBy: 'name' ">
              <td>
                <!--flickr.flickr-img(flickr-image="{{office.name}}")-->
                <p style="margin: 10px 10px 0 0;" colourize="{{office.name}}" class="pull-left"><font size="80"><i class="icon-globe"></i></font></p><span>{{office.name}}</span><br/><small>@{{office.nick}}</small>
              </td>
              <td class="centered"><a data-original-title="{{office.admin.join('
')}}" ui-jq="tooltip">
                  <ng-pluralize count="office.admin.length" when="{'0': 'No responsible!', 'one': '{{office.admin[0]}}',                           'other': '{} admins'}" ng-model="admin_count"></ng-pluralize></a>
                <div ng-hide="office.admin">
                  <p class="text-warning"> <i class="icon-warning-sign"></i> No admin!</p>
                </div>
              </td>
              <td class="right-text middle"><a href="#" ng-click="$copy(office, $parent.office);                               $parent.deleting = false;                               $parent.editDialog = true" class="btn"><i class="icon-edit"></i> Edit</a><a href="#" class="btn btn-warning"><i class="icon-dashboard"></i> Dashboard</a></td>
            </tr>
          </tbody>
        </table><img src="/img/loader.gif" ng-hide="offices"/>
      </div>
    </div>
  </div>
</div>