
<div>
  <script type="text/ng-template" id="officeEdit">
    <form name="officeForm" ng-show="editing" class="form-inline">
      <input type="text" name="name" ng-model="office.name" class="input-medium"/>
      <div class="input-prepend"><span class="add-on">@</span>
        <input type="text" name="nick" ng-model="office.nick" ng-pattern="/^[A-Z]{2}$/" tooltip="Two letter name of the office" rel="tooltip" class="input-mini"/>
      </div>
    </form>
  </script>
  <div class="row-fluid">
    <div class="span3">
      <div ng-include="'/partials/admin/nav.html'"></div>
    </div>
    <div class="span6">
      <div ng-controller="OfficesController">
        <div class="row-fluid">
          <h2>Offices</h2>
          <!--form.form-inline(name="officeForm")-->
          <div ng-include="'officeEdit'"></div>
          <button class="btn btn-primary">Add office</button><span></span>
          <table class="table table-striped table">
            <thead>
              <tr>
                <th> 
                  <input type="text" ng-model="search" placeholder="Search" ui-reset="ui-reset" class="search-query offices-query"/>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="office in offices | filter: search | orderBy: 'name' ">
                <td>
                  <div ng-hide="editing"> <span>{{office.name}}</span><br/><small>@{{office.nick}}</small></div>
                  <form name="officeForm" ng-show="editing" class="form-inline">
                    <input type="text" name="name" ng-model="office.name" class="input-medium"/>
                    <div class="input-prepend"><span class="add-on">@</span>
                      <input type="text" name="nick" ng-model="office.nick" ng-pattern="/^[A-Z]{2}$/" tooltip="Two letter name of the office" rel="tooltip" class="input-mini"/>
                    </div>
                  </form>
                </td>
                <td><span ng-hide="editing"><a ng-disabled="saving" ng-click="edit()" class="btn"><i class="icon-edit"></i><span>Edit</span></a>
                    <button ng-disabled="saving" ng-click="deleteDialog = true" class="btn btn-danger"><i class="icon-trash icon-white"></i><span>Delete</span></button>
                    <div ui-modal="ui-modal" ng-model="deleteDialog" class="modal fade">
                      <div class="modal-header">
                        <h3>Confirmation</h3>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to delete {{office.name}}?</p>
                      </div>
                      <div class="modal-footer"><a ng-click="deleteDialog = false" class="btn">Cancel</a><a class="btn btn-danger">Delete</a></div>
                    </div></span><span ng-show="editing">
                    <button ng-click="save(office)" class="btn btn-primary"><span>Save</span></button>
                    <button ng-click="cancelEdit()" class="btn"><span>Cancel</span></button></span></td>
              </tr>
            </tbody>
          </table><img src="img/loader.gif" ng-show="loading"/>
        </div>
      </div>
    </div>
  </div>
</div>