
<div>
  <div ng-controller="UsersController" class="row-fluid">
    <div class="span3">
      <div ng-include="'/partials/admin/nav.html'"></div>
    </div>
    <div class="span9">
      <div class="row-fluid">
        <h2>Users</h2>
        <!-- Edit dialog-->
        <div ui-modal="ui-modal" ng-model="editDialog" class="modal fade">
          <div class="modal-header">
            <h3 ng-hide="addUser">Edit user</h3>
            <h3 ng-show="addUser">Create user</h3>
          </div>
          <div class="modal-body">
            <div class="row-fluid">
              <form id="user-form" name="userForm" class="form-horizontal form-inline">
                <div class="control-group">
                  <div class="controls">
                    <select ui-select2="{width: 'resolve'}" ng-model="user.office">
                      <option ng-repeat="office in offices | orderBy: 'name'" value="{{office.nick}}">{{office.name}}</option>
                    </select>
                  </div>
                </div>
                <div ng-class="{error: userForm.name.$invalid}" class="control-group">
                  <label for="name" class="control-label">Nome completo</label>
                  <div class="controls">
                    <input type="text" name="name" ng-model="user.name" required="required" placeholder="Nome Sobrenome"/><span ng-show="userForm.name.$error.required" class="help-inline">Obrigatório</span>
                  </div>
                </div>
                <div ng-class="{error: userForm.email.$invalid}" class="control-group">
                  <label for="name" class="control-label">Email</label>
                  <div class="controls">
                    <input type="email" name="name" ng-model="user.name" required="required" placeholder="Nome Sobrenome"/><span ng-show="userForm.name.$error.required" class="help-inline">Obrigatório</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer"><a ng-click="editDialog = false" class="btn">Cancel</a><a ng-click="delete()" class="btn btn-danger">Delete</a></div>
        </div>
        <table class="table-striped table">
          <thead>
            <tr>
              <th>
                <input type="text" ng-model="search" placeholder="Search" class="search-query offices-query"/>
              </th>
              <th class="centered">Office</th>
              <th class="centered">Position</th>
              <th> <a ng-click="editDialog = true; addUser = true" class="btn btn-primary">Add user</a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | filter: search | orderBy: 'name' ">
              <td>
                <div ng-hide="editing"> <span>{{office.name}}</span><br/><small>@{{office.nick}}</small></div>
                <form id="office-form" name="officeForm" ng-show="editing" class="form-inline">
                  <input type="text" name="name" ng-model="office.name" required="required" class="input-medium"/>
                  <div class="input-prepend"><span class="add-on">@</span>
                    <input type="text" name="nick" ng-model="office.nick" ng-pattern="/^[A-Z]{2}$/" required="required" tooltip="Two letter name of the office" rel="tooltip" class="input-mini"/>
                  </div>
                </form>
              </td>
              <td class="centered"><a data-original-title="{{office.admin.join('
')}}" ui-jq="tooltip">
                  <ng-pluralize count="office.admin.length" when="{'0': 'No responsible!', 'one': '{{office.admin[0]}}',                           'other': '{} admins'}" ng-model="admin_count"></ng-pluralize></a>
                <div ng-hide="office.admin">
                  <p class="text-warning"> <i class="icon-warning-sign"></i> No admin!</p>
                </div>
              </td>
              <td class="edit-buttons">
                <!-- Edit and delete buttons--><span ng-hide="editing"><a ng-disabled="saving" ng-click="edit()" class="btn"><i class="icon-edit"></i> Edit</a>
                  <button ng-disabled="saving" ng-click="deleteDialog = true" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</button></span>
                <!-- Editing controls--><span ng-show="editing">
                  <button ng-click="save()" ng-disabled="officeForm.$invalid" class="btn btn-primary"><span>Save</span></button>
                  <button ng-click="cancelEdit()" class="btn"><span>Cancel</span></button></span>
              </td>
            </tr>
          </tbody>
        </table><img src="/img/loader.gif" ng-hide="offices"/>
      </div>
    </div>
  </div>
</div>