
<div>
  <div ng-controller="UsersController" class="row-fluid">
    <div class="span3">
      <div ng-include="'/partials/admin/nav.html'"></div>
    </div>
    <div class="span9">
      <div class="row-fluid">
        <h2>Users</h2>
        <!-- Edit dialog-->
        <div ui-modal="ui-modal" ng-model="editDialog" class="modal fade">
          <div class="modal-header">
            <h3 ng-hide="addUser">Edit user</h3>
            <h3 ng-show="addUser">Create user</h3>
          </div>
          <div class="modal-body">
            <div class="row-fluid">
              <form id="user-form" name="userForm" class="form-horizontal form-inline">
                <div ng-class="{error: userForm.name.$invalid}" class="control-group">
                  <label for="name" class="control-label">Full name</label>
                  <div class="controls">
                    <input type="text" name="name" ng-model="user.name" required="required" placeholder="Full name"/><span ng-show="userForm.name.$error.required" class="help-inline">Obrigatório</span>
                  </div>
                </div>
                <div ng-class="{error: userForm.email.$invalid}" class="control-group">
                  <label for="email" class="control-label">Email</label>
                  <div class="controls">
                    <input type="email" name="email" ng-model="user.email" required="required" placeholder="usuario@aiesec.net"/><span ng-show="userForm.email.$error.required" class="help-inline">Obrigatório</span>
                  </div>
                </div>
                <div ng-class="{error: userForm.office.$invalid}" class="control-group">
                  <label for="name" class="control-label">Office</label>
                  <div class="controls">
                    <select ui-select2="{width: 'resolve'}" ng-model="user.office" required="required">
                      <option ng-repeat="office in offices | orderBy: 'name'" value="{{office.nick}}">{{office.name}}</option>
                    </select>
                  </div>
                </div>
                <div ng-class="{error: userForm.position.$invalid}" class="control-group">
                  <label for="position" class="control-label">Position</label>
                  <div class="controls">
                    <input type="text" name="name" ng-model="user.position" placeholder="VP GIP OGX"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer"><a ng-click="editDialog = false; cancel()" class="btn">Cancel</a><a ng-click="editDialog = false; save()" class="btn btn-primary">Save</a></div>
        </div>
        <table class="table-striped table">
          <thead>
            <tr>
              <th>
                <input type="text" ng-model="search" placeholder="Search" class="search-query offices-query"/>
              </th>
              <th class="centered">Office</th>
              <th class="centered">Position</th>
              <th> <a ng-click="editDialog = true; addUser = true" class="btn btn-primary">Add user</a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | filter: search | orderBy: 'name' ">
              <td>
                 
                 {{user.name}}
                <p><small>{{user.email}}</small></p>
              </td>
              <td>
                 
                 {{user.office}}
                <p><small>{{user.position}}</small></p>
              </td>
              <td class="edit-buttons">
                <!-- Edit and delete buttons--><span ng-hide="editing"><a ng-disabled="saving" ng-click="edit()" class="btn"><i class="icon-edit"></i> Edit</a>
                  <button ng-disabled="saving" ng-click="deleteDialog = true" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</button></span>
                <!-- Editing controls--><span ng-show="editing">
                  <button ng-click="save()" ng-disabled="officeForm.$invalid" class="btn btn-primary"><span>Save</span></button>
                  <button ng-click="cancelEdit()" class="btn"><span>Cancel</span></button></span>
              </td>
            </tr>
          </tbody>
        </table><img src="/img/loader.gif" ng-hide="offices"/>
      </div>
    </div>
  </div>
</div>