
<div>
  <div ng-controller="UsersController" class="row-fluid">
    <div class="span3">
      <div ng-include="'/partials/admin/nav.html'"></div>
    </div>
    <div class="span9">
      <div class="row-fluid">
        <h2>Users</h2>
        <!-- Edit dialog-->
        <div ui-modal="ui-modal" ng-model="editDialog" class="modal fade">
          <div class="modal-header">
            <h3 ng-show="user._id">Edit user</h3>
            <h3 ng-hide="user._id">Create user</h3>
          </div>
          <div class="modal-body">
            <div class="row-fluid">
              <form id="user-form" name="userForm" ng-hide="deleting" class="form-horizontal form-inline">
                <div ng-class="{error: userForm.name.$invalid}" class="control-group">
                  <label for="name" class="control-label">Full name</label>
                  <div class="controls">
                    <input type="text" name="name" ng-model="user.name" required="required" placeholder="Full name"/><span ng-show="userForm.name.$error.required" class="help-inline">Obrigatório</span>
                  </div>
                </div>
                <div ng-class="{error: userForm.email.$invalid}" class="control-group">
                  <label for="email" class="control-label">Email</label>
                  <div class="controls">
                    <input type="email" name="email" ng-model="user.email" required="required" placeholder="usuario@aiesec.net"/><span ng-show="userForm.email.$error.required" class="help-inline">Obrigatório</span>
                  </div>
                </div>
                <div ng-class="{error: userForm.office.$invalid}" class="control-group">
                  <label for="name" class="control-label">Office</label>
                  <div class="controls">
                    <select ui-select2="{width: 'resolve'}" ng-model="user.office" required="required">
                      <option ng-repeat="office in offices | orderBy: 'name'" value="{{office.nick}}">{{office.name}}</option>
                    </select>
                  </div>
                </div>
                <div ng-class="{error: userForm.position.$invalid}" class="control-group">
                  <label for="position" class="control-label">Position</label>
                  <div class="controls">
                    <input type="text" name="name" ng-model="user.position" placeholder="VP GIP OGX"/>
                  </div>
                </div>
              </form>
              <div ng-show="deleting" class="alert alert-error fade in">
                <p>
                   <strong>Warning!</strong> Are you sure you want to delete
                   {{user.email}}?
                </p>
                <!--p  There is no going back!-->
                <p><a ng-click="delete(); editDialog = false" class="btn btn-danger">Delete this user</a> <a ng-click="deleting = false" class="btn">Cancel</a></p>
              </div>
            </div>
          </div>
          <div ng-hide="deleting" class="modal-footer"><a ng-click="deleting = true" ng-show="user._id" class="pull-left btn btn-danger">Delete</a><a ng-click="editDialog = false" class="btn">Cancel</a><a ng-click="editDialog = false; save()" class="btn btn-primary">Save</a></div>
        </div>
        <table class="table-striped table">
          <thead>
            <tr>
              <th>
                <input type="text" ng-model="search" placeholder="Search" class="search-query offices-query"/>
              </th>
              <th class="centered">Office</th>
              <th class="right-text middle"><a ng-click="user = {}; deleting = false; editDialog = true" class="btn btn-primary">Add user</a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | filter: search | orderBy: 'name' ">
              <td class="middle">
                <div gravatar="{{user.email}}" class="gravatar-img"></div> {{user.name}}<br/><small>{{user.email}}</small>
              </td>
              <td class="centered"> @{{user.office}}<br/><small>{{user.position}}</small></td>
              <td class="right-text middle">
                <!-- Edit and delete buttons--><a ng-click="$copy(user, $parent.user); $parent.deleting = false; $parent.editDialog = true" class="btn"><i class="icon-edit"></i> Editar</a>
                <!--button.btn.btn-danger(ng-click="deleteDialog = true")-->
                <!--  i.icon-trash.icon-white-->
                <!--  |  #{__("Delete")}-->
              </td>
            </tr>
          </tbody>
        </table><img src="/img/loader.gif" ng-hide="users"/>
      </div>
    </div>
  </div>
</div>